<header>
  <md-toolbar color="primary">
      <span>
        Order of Initiative
      </span>
  </md-toolbar>
  <md-toolbar color="accent">
    <div class="round-count">
      Round: {{roundCount}}
    </div>
    <div class="turn-count">
      Turn: {{turnCount}}
    </div>
    <span class="toolbar-spacer"></span>
    <button mdTooltip="Add Combatant" md-icon-button (click)="openNewCombatantNav(newCombatantNav)">
      <md-icon>person_add</md-icon>
    </button>
    <button mdTooltip="Add Party" md-icon-button>
      <md-icon>group_add</md-icon>
    </button>
  </md-toolbar>
</header>
<main flex>
  <md-sidenav-container>
    <md-list>
      <ng-container *ngFor="let combatant of combatants | initiativeOrder; let index = index;">
        <md-list-item class="combatant" [class.active]="combatant.id === activeCombatantId">
          <h2 class="combatant-name" mdLine>
            {{combatant.name}}
            <span (click)="updateHP(combatant)" [class.hp-warning]="combatant.combat.hp <= 0">({{combatant.combat.hp}}/{{combatant.data.maxhp}})</span>
          </h2>
          <p class="combatant-initiative" mdLine>INIT: {{combatant.combat.initiative}}<ng-container *ngIf="combatant.data.ac">, AC: {{combatant.data.ac}}</ng-container></p>
          <p mdLine class="combatant-stats">
            <span *ngFor="let stat of objectKeys(combatant.data.stats)" [hidden]="stat !== undefined">
              {{stat | uppercase}}: {{calcModAsString(combatant.data.stats[stat])}}
            </span>
          </p>
          <button md-icon-button (click)="infoCombatant=combatant;combatantInfoNav.open()">
            <md-icon>search</md-icon>
          </button>
          <button md-icon-button [mdMenuTriggerFor]="combatantMenu">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu #combatantMenu="mdMenu">
            <button md-menu-item (click)="infoCombatant=combatant;combatantInfoNav.open()">
              <md-icon>mode_edit</md-icon>
              <span>Edit</span>
            </button>
            <button md-menu-item (click)="removeCombatant(combatant)">
              <md-icon>close</md-icon>
              <span>Remove</span>
            </button>
            <button md-menu-item (click)="cloneCombatant(combatant)">
              <md-icon>content_copy</md-icon>
              <span>Clone</span>
            </button>
          </md-menu>
        </md-list-item>
        <md-divider></md-divider>
      </ng-container>
      <button md-fab color="warn" class="next-combatant-fab" (click)="nextCombatant()">
        <md-icon>play_arrow</md-icon>
      </button>
    </md-list>
    <md-sidenav #combatantInfoNav mode="side" [opened]="infoCombatant" position="end" class="combatant-info-sidenav">
      <ng-container *ngIf="infoCombatant">
        <app-edit-combatant-form [(combatant)]="infoCombatant"></app-edit-combatant-form>
      </ng-container>
    </md-sidenav>
    <md-sidenav #newCombatantNav mode="over" opened="false" position="start" class="new-combatant-sidenav">
      <ng-container *ngIf="newCombatant">
        <app-edit-combatant-form [(combatant)]="newCombatant"></app-edit-combatant-form>
        <button type="submit" md-raised-button [disabled]="!newCombatant.name || !newCombatant.combat.initiative" color="primary"
                (click)="addNewCombatant(newCombatant);newCombatantNav.toggle();">
          <span>Add</span>
        </button>
        <button md-raised-button color="warn" (click)="newCombatantNav.toggle()">
          <span>Cancel</span>
        </button>
      </ng-container>
    </md-sidenav>
  </md-sidenav-container>
</main>
